.sidebar{
    z-index: 200;
    padding-top: 5px;
    position: fixed;
    left:0;
    bottom:0;
    top: 65px;
    background-color: white;
    width: 90px;
}

.sidebar-link{
    height: 90px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-link img{
    height:30px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-family: roboto, arial;
    font-size:12px;
}
