.all-video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6px;
    row-gap: 30px;
}

.video-preview{
    margin:0;
}

.video-thumbnail-div{
    width: 370px;  
    position: relative;
}

.video-thumbnail{
    width: 100%;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 12px;
}

.video-profile-picture{
    width: 46px;
    border-radius: 36px;
    margin-top: 14px;
    margin-right: 18px;
}

.video-title{
    font-size: 18px;
    margin-top: 16px;
    font-weight: 700;
    line-height: 22px;
    width: 100%;
}

.video-author{
    margin-bottom: 8px;
    color: grey;
}

.video-stats{
    margin-top: 0px;
    color: grey;
}

.video-time{
    font-family: roboto, arail;
    font-size:12px;
    font-weight:500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius:2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right:5px;
}